.form-contaner {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.contaner {
  width: 100%;
  background: rgba(255, 255, 255, 0.1) url("../../assets/image/img.jpg")
    center/cover no-repeat;
  position: absolute;
  display: flex;
  opacity: 0.5;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}
.title {
  margin-bottom: 100px;
  color: aliceblue;
}

.ant-btn {
  background-color: rgba(23, 26, 86, 1);
}

