.form-input {
    width: 100%; /* Full width of the form container */
    padding: 10px; /* Padding similar to the buttons */
    margin-bottom: 10px; /* Space between input fields */
    border-radius: 5px; /* Rounded corners like the buttons */
    border: none; /* No border to match button style */
    background-color: #fff; /* White background like the buttons */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Shadow like the buttons */
    font-size: larger; /* Larger font size for better readability */
    cursor: text; /* Text cursor on hover */
}

.user-type-button {
    background-color: #ffffff;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.user-type-button:hover {
    background-color: #e0e0e0;
    color: #0056b3;
}

.add-user-form {
    background-color: rgba(10, 23, 51, 0.644);
    width: 80%;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.add-user-form h2 {
    color: #333;
    text-align: center;
}

.submit-button {
    background-color: #042a52;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: rgb(36, 36, 230);
}
