.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(73, 83, 109, 0.7);
  border-radius: 20px;
  padding: 20px;
  width: 25%;
  direction: rtl;
  text-align: right;
  margin-right: 20px;
  position: relative;
  height: 450px;
  justify-content: center;
  margin-top: 80px;
}

.gaust{
  background-color:#10439F ;
  width: 100%;
}
.gaust-btn{
  display: flex;
  justify-content: center;
}
.forget{
  text-decoration: none;
  color: aliceblue;
}
@media (max-width: 768px) {
  .form {
    margin-right: 15px;
    margin-top: 15px;
    width: 80%;
  }
}
